.btn-sair {
    margin-left: 55px;
}

.btn-icon {
    margin-right: 5px;
}

.bg-fitcard {
    background-color: #eae3e3;
}

.float-right {
    float: right;
}

.btn-novo-estabelecimento {
    margin-top: 15px;
    margin-bottom: 5px;
}